<html>
<h1>
    Personal Teacher
</h1>
<p>Bem vindo ao nosso aplicativo de análise de perfil de alunos. 
    Aqui você vai poder <bold>cadastar os alunos, cadastrar os seus arquivos </bold> e realizar a <bold>análise dos seus documentos</bold>
    para entender o perfil desse aluno. Vamos começar?</p>
<href></href>
</html>

