
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Traduzir Texto</title>
</head>
<body>
    <div>
        @ViewBag.resultado
    </div>
    
</body>
</html>
