<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Análise de Perfil</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Aqui vai a análise de perfil</p> //

        <p>@ViewBag.resultado</p>

    }
</body>
</html>
